.App {
  text-align: center;
}

#root {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  flex-wrap:  wrap;
  background-color: white;
  width: 1560px;
  max-width: 100vw;
}

body {
  width: 100%;
  text-align: center;
  background-color: #0a2285;
}



ul {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
}

.navbar {
  margin:0;
  color:#0A26B1
}

.navbar p{
  margin-top: 5px;
  margin-bottom: 0;
}
.navbar h2{
  margin-bottom: 0;
}

.channelTile {
  border:solid 2px darkblue;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 340px;
  float: left;
  margin: 10px;
  border-radius: 20px;
  max-height: 500px;

}

.scroller {
  width: 340px;
  max-height: 440px;
  overflow-y: scroll;
  scrollbar-color: #0A26B1;
  scrollbar-width: thin;

}
.channelTile p {
  color: black;
  margin: 0 0 0 40px;
}

.ended {
  color: #a3a3a7;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
